* {
    margin: 0;
    padding: 0;
}

html {

    body {

        #canvas {
            margin: 50px;
            padding: 10px;
            box-shadow: 0px 0px 12px 1px rgb(221, 225, 228);

            .block {

                .box {
                    background-color: gray;
                    border: 0.5px solid rgb(227, 232, 236);
                    display: inline-block;
                }
            }
        }
    }
}